.trending-div{
    padding-top: 5%;
    width: 50%;
    margin: auto;
    text-align-last: center;
}

.slide img{
    width: 20rem;
    margin: 0 auto;
}

.slide {
    transform: scale(0.6);
    transition: transform 300ms;
    opacity: 0.5;
}

.activeSlide {
    transform: scale(1.0);
    opacity: 1;
}

.arrow {
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

.next {
    right: 0%;
    top: 50%;
}

.prev {
    left: 0%;
    top: 50%;
}