.container-calendar{
  background-size: 100%;
  margin-left: 15%;
  width: 70%;
  height: 100px;
}

.cinema-name, .movie-name{
text-align: left;
margin-top: -8px;
color:#000000;
}


.labels{
  display: flex;
  justify-content: flex-start;
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 40px;
}

.available-time{
background: #FF7700;
border-radius: 100px;
width: 7%;
padding: 7px;
margin-right: 7px;

}

.soldout-time{
  background: #D3D3D3;
  border-radius: 100px;
  width: 7%;
  padding: 7px;
  margin-right: 7px;
}

button:disabled,
button[disabled]{
  border: none;
  background-color: #cccccc;
  color:#ffffff;
}

.selected-time{
background: #BD4F12;
border-radius: 100px;
width: 7%;
padding: 7px;
margin-right: 7px;
}

.screenTime-output{
  margin-top: -100px;
  border: 4px solid #FC851D;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

.screenTime-title{
color: black;
 font-size: 25px;
 font-family: 'Lucida Sans';
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 10px;
}

.screenTime-value{
  font-size: 20px;
  font-weight: bold;
  color:#FF7700;
  padding-bottom: 15px;
}

.screeningTime-button{
  background-color: #FF7700;
  border-radius: 10px;
  color:white;
  margin-right:0px;
  border:none;
  width: 30%;
  font-size: 13px;
  padding:50px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.screeningTime-button:focus{
  background-color: #BD4F12;
  border-radius: 10px;
  color:white;
  margin-right:0px;
  border:none;
  width: 30%;
  font-size: 13px;
  padding:50px;
  margin-right: 10px;
}

.movie-date{
  font-size: 25px;
  font-weight: bold;
}

.movie-time{
  font-size: 25px;
}

.break-line{
  border: 1px solid rgb(235, 235, 235);
  width: 100%;
}

.selectedScreenTime{
  background-color: #BD4F12;
  border-radius: 10px;
  color:white;
  margin-right:0px;
  border:none;
  width: 30%;
  font-size: 13px;
  padding:50px;
  margin-right: 10px;
}


.action-buttons{
margin-top: 280px;
margin-left: 350px;
 display: inline-flex;
}

.cancel-button {
font-size: 20px;
font-weight: bold;
color: #FFFFFF;
width: 100%;
height: 60px;
background: #bbbbbb;
border: none;
border-radius: 5px;
margin-left: 120px;
}

.plan-button{
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  width: 80%;
  height: 60px;
  margin-left: 130px;
background: linear-gradient(119.6deg, #FC851D 31.88%, #BD4F12 75.71%);
border: none;
border-radius: 5px;
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .events .ant-badge-status {
    width: 100%;
    /* overflow: hidden; */
    font-size: 13px;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
  }
  .notes-month section {
    font-size: 28px;
  }