.follow-text, .email-text, .facebook-text, .insta-text{
    color: white;
    text-align: left;
    padding-left:20px;
}

.vertical-line{
    border-right: 2px solid orange;
}

.follow-text{
    font-size: 20px;
    padding-top: 40px;
    color: #FF7700;
}

.footer-container{
    height: 200px;
    margin-top: 55px;
    background-color: #141414;

}

.cineq-logo{
    float: right;
    margin-top: 20px;
    margin-left: 50px;
}
.group-name{
    padding-bottom: 10px;
    text-align: right;
    color: white;
}
