.whole-container{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    /* background-color: blue; */

}

.card-body{
    background-color: #373737;
    color: white;    
    
}

h2{
    color: white;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    /* identical to box height */
}

.container-body{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    /* width: 50%; */
    background-color: #212121;
}

.button-group{
    float: left;
}

.btn-submit{
    color: white;
    margin-top: 5px;
    float: left;
}

.summary{
    float: right;
}

.container-right{
    position: absolute;
    width: 60%;
}

.card-body-right{
    font-family: RobotoFont;
    background-image: url(bgforsummary.png);
    background-size: 100% 100%;
    color: white;    
    width: 50%;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.hr-width{
    width: 100%;
}

@font-face {
    font-family: RobotoFont;
    src: url(Roboto-Black.ttf);
  }